body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

button {
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

li {
  margin-bottom: 10px;
}
